@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

footer {
    background-color: rgb(242, 242, 242);
    bottom: 0;
}

/** navbar **/

.btn-red {
    color: white;
    background-color: rgb(113, 17, 17);
}

.btn-red:hover {
    color: white;
    background-color: rgb(68, 10, 10);
}

.custom-nav-div a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.custom-nav-div a:hover {
    color: wheat;
}

.custom-nav-div p {
    color: white;
}

#login-div a {
    text-decoration: none;
}

#search-form-label {
  position: absolute;
  top: 30px;
  left: 0px;
  color: white;
}

#search-form-label a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 2px;
}

#search-form-label a:hover {
  color: rgb(212,132,135);
}

/** keci_search **/

main {
  font-family: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.search-hit {
  color:rgb(40, 121, 22);
  background-color:rgb(238, 255, 232);
}
/** 'registration/' pages stylings **/

  /** forms **/

  .registration-form {
    width: 40%;
    margin: auto;
  }

  @media screen and (max-width: 1600px) {
    .registration-form {
      width: 50%;
    }
  }

  @media screen and (max-width: 1000px) {
    .registration-form {
      width: 60%;
    }
  }

  @media screen and (max-width: 800px) {
    .registration-form {
      width: 70%;
    }
  }

  /** success pages **/

  .success-division {
    width: 60%;
    margin: auto;
    margin-top: 48px;
  }

  .success-heading {
    font-size: 64px;
  }

  .success-paragraph {
    font-size: 32px;
  }