{% extends "index.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}Search | Mürekkep ve Keçi{% endblock %}
{% block content %}

<main class="container">
    <h1></h1>
    {% include 'simple_search_form.html' %}
    <div>
        <div>
            <form method="GET" action="{% url 'keci_search' %}">
                <div class="d-none">
                    <input type="text" id="query" name="query" value="{{ query_term }}">
                    <select id="searchtype" name="searchtype">
                      <option selected="" value="all">All fields</option>
                      <option value="title">Title</option>
                      <option value="author">Author(s)</option>
                      <option value="abstract">Abstract</option>
                      <option value="comments">Comments</option>
                      <option value="paper_id">mk identifier</option>
                      <option value="doi">DOI</option>
                      <option value="orcid">ORCID</option>
                      <option value="license">License (URI)</option>
                      <option value="author_id">mk author ID</option>
                      <option value="help">Help pages</option>
                      <option value="full_text">Full text</option>
                    </select>
                </div>
                <div class="d-flex">
                    <div>
                      <select name="size" id="size">
                        <option value="25" selected>25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                      </select>
                      <label for="size">sonuç, bir sayfada.</label>
                    </div>
                    <div class="">
                      <label for="order">Sonuçları sırala,</label>
                      <select name="order" id="order">
                        <option value="-pub_date">Yükleme tarihine göre (yeniden eskiye)</option>
                        <option value="pub_date">Yükleme tarihine göre (eskiden yeniye)</option>
                      </select>
                    </div>
                    <button class="btn btn-primary btn-sm">Hallet</button>
                </div>
            </form>
        </div>
    </div>
    {% include 'pagination.html' %}
    <ol class="project-list breathe-horizontal" start="1">
        {% for project in projects %}
        
        <li class="keci-result lh-sm">
          <div class="is-marginless m-0 p-0">
            <p class="list-title is-inline-block"><a href="{% url 'project' id=project.id %}">k-id:{{ project.id }}</a>
              <span>&nbsp;[<a href="{% url 'download_pdf' id=project.id %}">pdf</a>, <a href="{% url 'download_pdf' id=project.id %}">other</a>]&nbsp;</span>
            </p>
            <div class="tags is-inline-block">
              <span class="tag is-small is-link tooltip is-tooltip-top" data-tooltip="Computer Vision and Pattern Recognition">cs.CV</span>
              </div>
            
          </div>
          
          <p class="title is-5 mathjax my-1 py-1">
            
            <strong> {{project.title}} </strong>
            
            
          </p>

          <p class="authors my-1 py-1">
            <strong>Authors:</strong>
            
            {% for author in project.authors.all %}
            {{ author.name }},
            {{ author.email }}
            {% endfor %}
            
          </p>
          
          <p class="abstract mathjax my-1 py-1">
            <span class="search-hit"><strong>Abstract:</strong></span>
            <span class="abstract-short has-text-grey-dark mathjax" id="{{ project.id }}-abstract-short" style="display: inline;">
              …Daha kısa abstract…
              <a class="is-size-7" style="white-space: nowrap;" onclick="document.getElementById('{{ project.id }}-abstract-full').style.display = 'inline'; document.getElementById('{{ project.id }}-abstract-short').style.display = 'none';">▽ More</a>
            </span>
            <span class="abstract-full has-text-grey-dark mathjax" id="{{ project.id }}-abstract-full" style="display: none;">
              {% with project.abstract|split:" " as words %}
                {% for word in words %}
                  {% if word == query_term %}
                  <span class="search-hit mathjax"><strong>{{ word }}</strong></span>
                  {% else %}
                    {{ word }}
                  {% endif %}
                {% endfor %}
              {% endwith %}
              <a class="is-size-7" style="white-space: nowrap;" onclick="document.getElementById('{{ project.id }}-abstract-full').style.display = 'none'; document.getElementById('{{ project.id }}-abstract-short').style.display = 'inline';">△ Less</a>
            </span>
          
          </p>
          
          <p class="stage my-1 py-1"><strong>Stage:</strong> {{ project.current_stage.stages }}.
        
          </p>
        
          <p class="language my-1 py-1"><strong>Language:</strong> {{ project.language.languages }}.
        
          </p>
        
          <p class="branches my-1 py-1"><strong>Branches:</strong>
            {% for branch in project.branches.all %}
            {{ branch.branches }},
            {% endfor %}.
            
          </p>
        
          <p class="is-size-7"><span class="has-text-black-bis has-text-weight-semibold">Submitted</span> {{project.pub_date}}; 
            <span class="has-text-black-bis has-text-weight-semibold">originally announced**</span> May 2021**.
            
          </p>
          
          <p class="comments is-size-7">
            <span class="has-text-black-bis has-text-weight-semibold">Comments:</span>
            <span class="has-text-grey-dark mathjax">n pages, m figures and k tables; project page: https://path/to/projectpage</span>
          </p>
          
        
          
        
          
        </li>
        {% endfor %}
    </ol>
</main>

{% endblock %}